//
   Created by whisper on 2016/11/16.

html
    head
        link(
        href='/styles/style.css'
        type="text/css"
        rel="stylesheet"
        )
    body
        div.container #{content}
